
/* Elements */

html,body{
	background: url(../images/bg.gif) repeat left top;
    overflow: hidden;
    height: 100%;
}
input{
    color:black;
}
nav.mainHeader{
    height: 80px;
    margin: 0;
    border-bottom: 0.5em solid #00c0ff;
    /* border-bottom: 0.5em solid #afbd37; */
}
a.navbar-brand{
    padding: 0;
}
img { max-width: 100%; }
/* ID's */
#carousel-generic .right.carousel-control,#carousel-generic .left.carousel-control {
    display: none;
}
.logoColorDox{
    color:#afbd37;
}
.logoColorTrip{
    color:#00c0ff;
}
/* Classes */
.headerImage{
    height: 33%;
}
.logo{
    height: 100%;
}
.mainWrapper {
    position: relative;
    margin-top: 80px;
    padding: 1em;
    height: calc(100% - 80px);
}
.colorBlack{
    color: black;
	align: center;
}
.navWrapper{
    padding: 1em;
}
.carousel-caption.container{
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    background: url('../images/Hiking.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.page{
    padding-top: 1em;
    height: 66%
}
